.practice-section-wrapper{
    padding: 50px 0;
}
.h2-style1{
    color: #13cab4;
    position: relative;
    line-height: 1.6;
    margin-bottom: 50px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 0;
    font-weight: 700;
    text-transform: capitalize;
}
.h2-style1:before{
    width: 150px;
    height: 3px;
    background-color: #313131;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.h2-style1:after{
    content: "";
    display: table;
    clear: both;
    width: 70px;
    height: 3px;
    background-color: #14cab4;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

.practice-section-items-wrapper{
    align-items: center;
    margin-bottom: 24px;
}
.practice-section-items-wrapper:last-child{
    margin-right: 0;
}
.practice-section-item-wrapper{
    margin-right: 24px;   
    
}

/* .practice-section-items-wrapper:nth-of-type(2) .practice-section-item-wrapper,
.practice-section-items-wrapper:nth-of-type(4) .practice-section-item-wrapper,
.practice-section-items-wrapper:nth-of-type(5) .practice-section-item-wrapper,
.practice-section-items-wrapper:nth-of-type(7) .practice-section-item-wrapper{
    background-color: #1a2431;
} */
.practice-section-item-wrapper{
    width: 100%;
}
.practice-section-item-wrapper a{
    padding: 40px 25px;
    display: block;
}
.practice-section-item-wrapper:hover{
    box-shadow: 0 6px 13px rgba(26, 36, 49, 0.35);
    transition: all 0.5s ease-in-out;
}
.practice-section-content-wrapper p{
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    display: table;
    width: 100%;
    margin: 0 0 18px;
    font-weight: 500;
}
.practice-section-icon-wrapper{
    margin-bottom: 21px;
    text-align: center;
    padding-top: 40px;
}
