.panel-grid-cell {
    z-index: 2;
    position: relative;
}
.counter-wrapper{
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 70px 0px 70px 0px;
}
.dark-color-overlay-over-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1a2431;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}
.panel-item-wrapper{
    display: flex;
    margin-left: -95px;
    margin-right: -95px;
    padding-left: 95px;
    padding-right: 95px;
    border-left: 0px;
    border-right: 0px;
}
.panel-counter-wrapper > .counter,.panel-item-caption {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 0;
    margin: 0 0 18px;
    padding-left: 15px;
    color: #fafafa;
}
.panel-icon-styling{
    border: 2px solid #fafafa;
    padding: 10px;
}
