.content-section {
    overflow: hidden;
    z-index: 999;
}
.op-slogan-section.op-title-wrapper {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home .op-slogan-section {
    display: none;
}
.op-title-wrapper {
    padding: 0;
}
.op-slogan-section {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dark-color-overlay-over-image {
    position: relative;
}