.team-section-wrapper{
    margin-left: -66px;
    margin-right: -66px;
    padding-left: 66px;
    padding-right: 66px;
    border-left: 0px;
    border-right: 0px;
}
.team-image-wrapper{
    position: relative;
}
.team-image-wrapper img{
    width: 280px;  
}
#team-section-item-wrapper{
    margin-right: 10px;
}
.team-content-wrapper{
    width: 280px;
    padding: 10px 0;
    border-bottom: 2px solid #63BAC5;
}
.team-content-wrapper span{
    text-align: center;
}
.member-name-wrapper span{
    display: block;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: #63BAC5;
}
.member-specialization-wrapper span{
    display: block;
    text-align: center;
    font-style: italic;
    color: #63BAC5;
}

.team-section-main-wrapper{
    padding: 0 75px;
}
.svg-style{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: cover;
}
.svg-style-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: cover;
}
.team-section-main-wrapper .slick-prev{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 10;
    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    background-color: black;
    left: -50px;
}
.team-section-main-wrapper .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 10;
    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    background-color: transparent;
    right: -50px;
}


