.contactUs-wrapper{
    background-color: #1a2431;
    margin-left: -113px;
    margin-right: -113px;
    padding-left: 113px;
    padding-right: 113px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 10px;
}
.contactUs-main-wrapper span{
    color: #63CAB5;
    font-size: 20px;
    display: block;

}
.contactUs-wrapper p{
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding-top: 20px;
}
a.contact-button span{
    right: 30%;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 100%;
    transition: all 0.3s;
}
.contact-button:hover span{
    opacity: 1;
    right: 20px;
}
a.contact-button:hover{
    background-color: #1a2431;
    color: #63CAB5;
    border: 2px solid #63CAB5;
    padding-right: 45px;
}
a.contact-button span:before{
    right: 30%;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 100%;
    transition: all 0.3s;
}
a.contact-button span:after{
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}
.contactUs-main-wrapper{
    padding-left: 50px;
}
.contact-btn{
    float: right;
    margin-top: 0;
    
}
.contact-button{
    padding: 14px 28px;
    background-color: #63CAB5;
    color: #f5f5f5;
    top: 40%;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}