.achievements-wrapper{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.achievement-wrapper{
    background-color: #f5f5f5;
    padding: 40px 40px 31px 40px;
}
.achievement-wrapper:nth-of-type(2n){
    background: #fafafa;
}
.overlap-medium{
    margin-top: -150px;
    z-index: 2;
}
.panel-grid{
    position: relative;
}
.title-wrapper h4{
    font-size: 24px;
    margin-top: 0;
    font-weight: 700;
    text-transform: capitalize
}
.op-why-choose-section-style-2 {
    position: relative;
}
.op-why-choose:nth-of-type(2n+1) {
    clear: left;
}
.op-why-choose-section-style-2 .op-why-choose {
    position: relative;
    margin-bottom: 0;
}
.op-why-choose {
    margin-bottom: 30px;
}
.icon-wrapper img{
    width: 70px;
    border: 2px solid #63CAB5;
    padding: 5px;
    margin-bottom:20px ;
}
.description-wrapper p{
    margin: 0 0 18px;
}