.header {
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 10;
    height: auto;
}
.header {
    position: absolute;
    z-index: 10;
}
.header .op-header-top {
    padding: 5px 0;
    font-size: 14px;
}
.op-header-top {
    padding: 5px 0;
    color: #1a2431;
    font-size: 14px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.text-left {
    text-align: left;
}
.op-header-top .op-call-us a.tel {
    font-weight: 600;
    text-decoration: none;
    color: #1a2431;
}
a, a:hover {
    color: #14cab4;
    text-decoration: none;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.bold {
    font-weight: 700;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.text-right {
    text-align: right;
}
.op-header-top .request-free-consultation {
    font-weight: 600;
    text-decoration: none;
    color: #1a2431;
}
.op-header {
    background-color: #1a2431;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.op-header .op-logo {
    position: relative;
    display: block;
    padding: 20px 0;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.op-gns .navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
    /* border: 0; */
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar {
    position: relative;
    /* min-height: 50px; */
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.op-gns .navbar-default .container-fluid {
    padding-right: 0;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #14cab4;
    height: 3px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.collapse {
    display: none;
}
.op-gns .op-menu {
    padding-right: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.op-gns .navbar-default .navbar-nav {
    float: right;
}

.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.op-gns .op-menu > ul > li {
    margin: 0 18px;
}
.nav>li {
    position: relative;
    display: block;
}
.op-gns .op-menu > ul > li > a {
    color: #ffffff;
    padding: 25px 0;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.op-menu .menu-item-has-children > a i {
    margin-left: 5px;
    display: inline-block;
}
.op-menu i {
    display: none;
    font-size: 12px;
}
.op-gns .op-menu > ul > li .dropdown-menu {
    background-color: #1a2431;
    border: none;
    min-width: 200px;
    display: block;
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: opacity 0.5s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.5s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform-origin: 0;
    transform-origin: 0 0;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.op-gns .op-menu > ul > li .dropdown-menu li {
    border-bottom: 1px solid #29374a;
}
.op-gns .op-menu > ul > li .dropdown-menu li a {
    color: #ffffff;
    position: relative;
    padding: 15px 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.op-gns .op-menu .dropdown-menu a i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}
.op-menu i {
    display: none;
    font-size: 12px;
}
.op-gns .op-menu > ul > li {
    margin: 0 18px;
}
.nav>li {
    position: relative;
    display: block;
}
.op-gns .op-menu > ul > li > a {
    color: #ffffff;
    padding: 25px 0;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.collapse {
    display: none;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.nav>li {
    position: relative;
    display: block;
}

@media (min-width: 768px){
.mbl-nav .nav > li {
    display: block;
    float: none;
    clear: both;
}
}
@media (min-width: 768px){
.navbar-nav>li {
    float: left;
}
}
@media (min-width: 768px){
    .mbl-nav .nav {
        float: none;
    }
    }
    @media (min-width: 768px){
    .navbar-nav {
        float: left;
        margin: 0;
    }
    }
    
@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
}
@media (min-width: 768px){
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}

@media (min-width: 1200px){
    .hidden-lg {
        display: none!important;
    }
    }
@media (min-width: 1200px){
    .hidden-lg {
        display: none!important;
    }
    }
@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
}

@media (min-width: 1200px){
.op-gns .op-menu > ul > li {
    margin: 0 16px;
}
}
@media (min-width: 992px){
.op-gns .op-menu > ul > li {
    margin: 0 8px;
}
}

@media (min-width: 768px){
.navbar-nav>li {
    float: left;
}
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    }
@media (min-width: 1200px){
.op-gns .op-menu > ul > li {
    margin: 0 16px;
}
}
@media (min-width: 992px){
.op-gns .op-menu > ul > li {
    margin: 0 8px;
}
}

@media (min-width: 768px){
.navbar-nav>li {
    float: left;
}
}

@media (min-width: 768px){
.navbar-nav {
    float: left;
    margin: 0;
}
}
@media (min-width: 768px){
.navbar-default .navbar-toggle span.icon-bar:nth-of-type(2) {
    top: 1px;
}
}
@media (min-width: 992px){
.navbar-collapse.collapse {
    display: block !important;
}
}

@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
}
@media (min-width: 768px){
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}
@media (min-width: 768px){
.navbar-default .navbar-toggle span.icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
    background-color: #14cab4;
}
}

@media (min-width: 768px){
.navbar-default .navbar-toggle {
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 0;
}
}
.navbar-default .navbar-toggle {
    border: 2px solid #14cab4;
    margin-top: 15px;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width: 992px){
.navbar-toggle {
    display: none;
}
}
@media (min-width: 768px){
.navbar-toggle {
    display: block;
}
}
@media (min-width: 768px){
.navbar-toggle {
    display: none;
}
}
@media (min-width: 768px){
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
}

@media (min-width: 768px){
.navbar {
    border-radius: 4px;
}
}

@media (min-width: 992px){
.col-md-9 {
    width: 75%;
}
}
@media (min-width: 992px){
.col-md-3 {
    width: 25%;
}
}
@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
}
@media (min-width: 768px){
.col-sm-6 {
    width: 50%;
}
}
@media (min-width: 768px){
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
}

@media (min-width: 768px){
.col-sm-6 {
    width: 50%;
}
}
@media (min-width: 768px){
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
}

@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
}
