.feedback-section-wrapper{
    padding: 100px 0px 75px 0px;

}
.feedback-main-wrapper{
    position: relative;
}
.feedback-divider{
    left: 0;
    top: 0;
    z-index: 3;
    min-height: 16px;
    width: 100%;
    filter: invert(100%);
    opacity: 0.8;
    
}
.feedback-slide{
    margin: 0 10px;
}
.h2-style2 {
    color: #ffffff;
    position: relative;
    line-height: 1.6;
    margin-bottom: 50px;
    padding-bottom: 5px;
    text-transform: capitalize;
    text-align: center;
}
.h2-style2:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 150px;
    height: 3px;
    background-color: #ffffff;
}
.company-name-wrapper h4{
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.feedback-slider-wrapper{
    margin-top: 100px;
}
.feedback-slider-wrapper .feedback-slide{
    margin-right: 10px;
}
.customer-designation-wrapper p{
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
}
.feedback-wrapper p{
    color: #ffffff;
    padding: 0px 40px;
    font-style: italic;
    margin: 0 0 18px;
}
.customer-name-wrapper{
    color: #ffffff;
    text-align: center;
}
.customer-image-wrapper img{
    width: 100px;
    border-radius: 50%;
    border: 4px solid white;
    
}
.customer-image-wrapper{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.customer-image-wrapper{
    text-align: center;
}
.feedback-slider-wrapper .slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    padding: 10;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    background: inherit;
}

.feedback-slider-wrapper .slick-prev{
    left: -50px;
}
.feedback-slider-wrapper .slick-next{
    right: -50px;
}

/* .slick-prev, .slick-next:hover{
    background-color: black;
} */