.features-image-wrapper{
    width: 100%;
    background-position: center center;
    background-size: cover;
}   
.features-wrapper{
    padding: 67px 0 30px;
    
}
.features-main-wrapper{   
    display: flex;
    
}
.features-items-wrapper{
    background-color: #f5f5f5;
    padding: 70px 50px 30px 20px;
    

}
.features-item{
    display: flex;
    margin-bottom: 40px;
    padding-left: 40px;
}
.features-content-wrapper{
    padding-left: 20px;
}
.features-content-wrapper h2{
    font-size: 24px;
    font-weight: 700;
}
.features-content-wrapper p{
    margin: 0 0 18px;
}
.features-bottom-wrapper{
    background-color: #1a2431;
    margin-left: -113px;
    margin-right: -113px;
    padding-left: 113px;
    padding-right: 113px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 10px;
}
.features-bottom-wrapper span{
    color: white;
    display: block;
    padding-top: 20px;
    margin: 9px 0;
    font-size: 20px;
}
.feature-bottom-wrapper{
    padding-left: 50px;
}
.contact-btn{
    float: right;
    margin-top: 0;
    padding: 10px 40px;
}