.news-wrapper{
    background-color: #F5F5F5;
    padding: 50px 0;
}
.news-image-wrapper img{
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
}

.news-item-wrapper:hover .news-image-wrapper img {
    transform: scale(0.95); 
}
  
.news-content-wrapper{
    background-color: #fafafa;
    padding: 20px;
}
.news-item-wrapper{
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.news-image-wrapper{
    position: relative;
}
.news-description-wrapper a{
    color: black;
    font-weight: 600;
}
.news-date-wrapper{
    padding-bottom: 10px;
}
.news-date-wrapper span{
    color: #63CAB5;
}
.news-description-wrapper a:hover{
    color: #63CAB5;
}
.secondary-button{
    background-color: #1a2431;
    border-color: #1a2431;
    color: white;
    padding: 10px 12px;
    font-weight: bold;
    border: 2px solid #1a2431;
    text-align: center;
    position: relative;
}
.news-button-wrapper{
    padding: 50px 0;
}
.secondary-button:hover{
    color: black;
    padding-right: 45px;
    background-color: #fafafa;
}
.divider-gray{
    background-size: cover;
    background-position: bottom;
    min-height: 90px;
}
.divider-gray-bottom{
    background-size: cover;
    background-position: bottom;
    min-height: 90px;
}
a.secondary-button span:before{
    right: 30%;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 100%;
    transition: all 0.3s;
}
.secondary-button:hover span{
    opacity: 1;
    right: 20px;
}
a.secondary-button span{
    right: 30%;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 100%;
    transition: all 0.3s;
}
.secondary-button:after{
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.divider-gray-bottom{
    width: 100%;
    position: absolute;
    width: 100%;
    transform: translateY(-99%);
}

